{
  "extends": "standard",
  "env": {
    "mocha": true
  },
  "plugins": [
    "mocha"
  ],
  "rules": {
    "semi": [
      "warn",
      "always"
    ],
    "space-before-function-paren": [
      "warn",
      "never"
    ]
  }
}
