#       OS        #
###################
.DS_Store
.idea
Thumbs.db
tmp/
temp/
bench-result.txt
docs/

#     Node.js     #
###################
node_modules


#      Build      #
###################
dist
build

#       NYC       #
###################
coverage
*.lcov
.nyc_output
